<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Shopping</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="/"><h1>React Shopping</h1></a>
        </div>
        <div class="header-links">
          <a href="/cart">CART</a>
          <a href="/signin">SIGNIN</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./img/product1.jpg"
                  alt="product1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">None</div>
                <div class="product-price">$39</div>
                <div class="product-rating">4.5 Stars</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./img/product1.jpg"
                  alt="product1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">None</div>
                <div class="product-price">$39</div>
                <div class="product-rating">4.5 Stars</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./img/product1.jpg"
                  alt="product1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">None</div>
                <div class="product-price">$39</div>
                <div class="product-rating">4.5 Stars</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./img/product1.jpg"
                  alt="product1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">None</div>
                <div class="product-price">$39</div>
                <div class="product-rating">4.5 Stars</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        All Right Reserved @ React Shopping
      </footer>
    </div>
  </body>
</html>
